<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>weibo - Friend</title>
    <link rel="stylesheet" href="/static/styles/friend.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.bootcss.com/foundation/5.5.3/js/vendor/modernizr.js"></script>

</head>

<body>
    <div class="container-fluid">
        <h2>Friend</h2>

        <div class="row">
            <div class="medium-3 columns" style="background-color:#f1f1f1;">
                <ul class="side-nav">
                        <li><a style="font-size: large;" href="{{ url_for('home') }}">Home</a></li>
                        <li class="active"><a style="font-size: large;" href="{{ url_for('friend') }}">Friend</a></li>
                        <li ><a style="font-size: large;" href="{{ url_for('user', user_tag=user_tag) }}">Profile</a></li>
                        <li><a style="font-size: large;" href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </div>
            <div class="medium-9 columns">
                <nav id="friend_nav">
                    <ul id="nav_list">
                        <li id="search_li" class="selected"><a href="javascript:void 0">Search</a></li>
                        <li id="follower_li"><a href="javascript:void 0">Followers</a></li>
                        <li id="following_li"><a href="javascript:void 0">Following</a></li>
                    </ul>
                </nav>
                <section>
                    <div id="search_tab" class="tab current">
                        <input id="search" type="text">
                        <div class="results init">
                            <div class="loading"></div>
                            <div class="items"></div>
                            <div class="no-result">
                                No result.
                            </div>
                        </div>
                    </div>
                    <div id="followers_tab" class="tab">
                        <div class="results init">
                            <div class="loading"></div>
                            <div class="items"></div>
                            <div class="no-result">
                                No result.
                            </div>
                        </div>
                    </div>
                    <div id="following_tab" class="tab">
                        <div class="results init">
                            <div class="loading"></div>
                            <div class="items"></div>
                            <div class="no-result">
                                No result.
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

<script type="text/template" id="template">
    <div class="item">
        <img src="/static/img/user.png" alt="profile">
        <span><%= user_tag%>/<%= email%></span>
        <% if(follow){ %>
            <a href="javascript:void 0" data-url="/follow/<%= user_id%>" data-type="follow">Follow</a>
        <% }%>
        <% if(unfollow){ %>
            <a href="javascript:void 0" data-url="/unfollow/<%= user_id%>" data-type="unfollow">Unfollow</a>
        <% }%>
    </div>
</script>
<script src="/static/scripts/jquery-3.2.1.min.js"></script>
<script src="/static/scripts/underscore-min.js"></script>
<script src="/static/scripts/friend.js"></script>

</body>
</html>