<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo - Login</title>
    <link rel="stylesheet" href="/static/styles/login.css" />
</head>
<body>
    <div id="main">
        <form name="login" method="post">
            <header>Sign in to weibo</header>
            <section>
                <div class="item">
                    <label title="email">Email address</label>
                    <input name="email" type="email" {% if email %} value="{{ email }}" {% endif %}>
                </div>
                <div class="item">
                    <label title="password">Password</label>
                    <input name="password" type="password">
                </div>
                <input type="submit" name="submit" value="Sign in" class="btn-primary">
            </section>
        </form>
        {% if error %}
            <p class="error">Error : {{ error }}</p>
        {% endif %}
        <footer>
            <span>New to weibo?</span>
            <a href="/register">Create an account</a>
        </footer>
    </div>
</body>
</html>